{% extends 'base.html.twig' %}

{% block title %}Edit comment{% endblock %}

{% block body %}
    <h1>Edit comment</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comment_index') }}">back to list</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
