{% extends 'base.html.twig' %}

{% block title %}New comment{% endblock %}

{% block body %}
    <h1>Create new comment</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">back to list</a>
{% endblock %}
