{% extends 'base.html.twig' %}

{% block body %}
    <div id="program">
        {% include ('./components/_showListProgram.html.twig') %}
    </div>

    <div id="table">
        <table>
            <thead>
            <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Links</th>
            </tr>
            </thead>
            {%  for episode in season.episodes %}
                <tbody>
                <tr>
                    <td>Episode {{ episode.number }}</td>
                    <td>{{ episode.title }}</td>
                    <td><a href='{{ path("program_episode_show", { program: program.id,  season: season.id, episode : episode.id }) }}'>Voir l'épisode</a></td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Pas d'épisodes</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}
