{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for actor in actors %}
            <li> {{ actor.name }} <a href="{{ path("actor_show", {id: actor.id}) }}">Voir</a>
                {% for program in programs %}
                    <br/>
                    <a href="{{ path("actor_addProgram", {actor: actor.id, program: program.id}) }}">ajouter à  <strong>{{ program.title }}</strong></a>
                {% endfor %}
            </li>

        {% endfor %}
    </ul>


{% endblock %}