{% extends 'base.html.twig' %}

{% block body %}
        <h1>{{actor.name}}</h1>


    <div class="wrapper">
        {% for program in actor.program %}
            <div class="child">
                {% include ('./components/_showListProgram.html.twig') %}
            </div>
        {% else %}
            <p>Pas de films associés</p>
        {% endfor %}
    </div>
{% endblock %}