// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "navbar";

// customize some Bootstrap variables
$theme-colors: (
        "primary": #0039B2,
        "danger": #7A95B4
);

body{
  background-color: #ffffff;
}
img{
  width: 200px;
}
.wrapper img:hover{
  box-shadow: 2px 3px 10px black;
}
h2{
  font-size: medium;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  text-align: center;
}

form{
  display: flex;
  margin: 10px;
  text-align: center;
}

.header{
  margin: auto;
  margin-top: 50px;
  width: 70%;
  text-align: center;
  background-color: rgba(3, 58, 90, 0.44);
  padding: 20px;
  border-radius: 10px;
}