// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// customize some Bootstrap variables
$theme-colors: (
        "primary": #0039B2,
        "danger": #7A95B4
);

body{
  background-color: lightgrey;
}

img:hover{
  width: 600px;
}