{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">
        <h1>WILD SERIES</h1>
        <img src="{{ asset('build/messenger.png') }}" alt="messenger"/>
    </div>
{% endblock %}